/* COPY */
/* TODO:ELEMENTS */
* {
    margin: 0;
    padding: 0;
}
nav {
    padding: 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.613);
}
body{
    background-image: url(images/background.jpeg);
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* TODO:CLASSES */
.off-screen-menu {
    background-image: url(images/portal.png);
    /* background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; */
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}

/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color:	#97ce4c;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: #97ce4c;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.off-screen-menu button {
    color: #97ce4c;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-bottom: 100px;
}
.off-screen-menu button:hover{
    transition: 2s;
    letter-spacing: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 255, 0, 0.5);
    border-radius: 10px;
}
.logo{
    height: 60px;
}
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moving-diagonal{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translate(-2000px,200px);
    }
}
.hidden-images{
    height: 100px;
    margin-left: 1500px;
    animation: moving-diagonal 3s ease-in-out 2s infinite;
}

/* COPY END*/

.rick-and-morty{
    animation: slide-in 5s ease-in-out;
    color:white;
    font-size: 50px;
    text-align: center;
    margin-top: 400px;
}

.welcome-text{
    color: #97ce4c;
    font-size: 20px;
    border-left: double 6px;
    padding-left: 20px;
    margin-left: 100px;
}